# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
#Import data
import pandas as pd
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df_customers1 = pd.read_csv(url1)
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df_customers2 = pd.read_csv(url2)   
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_customers3 = pd.read_csv(url3)

In [ ]:
# Spalten Namen sollten vorab angepasst werden, damit sie den gleichen Namen haben.

In [26]:
# Combine data sets
df_combined = pd.concat([df_customers1, df_customers2, df_customers3], axis=0, ignore_index=True)

In [33]:
# Check column names
df_combined.columns

Index(['Customer', 'ST', 'Education', 'Customer Lifetime Value', 'Income',
       'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type',
       'Vehicle Class', 'Total Claim Amount', 'Customer', 'ST', 'Education',
       'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Number of Open Complaints', 'Total Claim Amount', 'Policy Type',
       'Vehicle Class', 'Customer', 'State', 'Customer Lifetime Value',
       'Education', 'Gender', 'Income', 'Monthly Premium Auto',
       'Number of Open Complaints', 'Policy Type', 'Total Claim Amount',
       'Vehicle Class'],
      dtype='object')

In [34]:
df_combined.columns.unique

<bound method Index.unique of Index(['Customer', 'ST', 'Education', 'Customer Lifetime Value', 'Income',
       'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type',
       'Vehicle Class', 'Total Claim Amount', 'Customer', 'ST', 'Education',
       'Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Number of Open Complaints', 'Total Claim Amount', 'Policy Type',
       'Vehicle Class', 'Customer', 'State', 'Customer Lifetime Value',
       'Education', 'Gender', 'Income', 'Monthly Premium Auto',
       'Number of Open Complaints', 'Policy Type', 'Total Claim Amount',
       'Vehicle Class'],
      dtype='object')>

In [30]:
# Remove column "GENDER"
df_combined = df_combined.drop(columns=['GENDER'])

In [31]:
print (df_combined)

     Customer          ST             Education Customer Lifetime Value  \
0     RB50392  Washington                Master                     NaN
1     QZ44356     Arizona              Bachelor              697953.59%
2     AI49188      Nevada              Bachelor             1288743.17%
3     WW63253  California              Bachelor              764586.18%
4     GA49547  Washington  High School or Below              536307.65%
...       ...         ...                   ...                     ...
7065      NaN         NaN                   NaN                     NaN
7066      NaN         NaN                   NaN                     NaN
7067      NaN         NaN                   NaN                     NaN
7068      NaN         NaN                   NaN                     NaN
7069      NaN         NaN                   NaN                     NaN

       Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0         0.0                1000.0                    1/0/00   Personal Auto
1         0.0                  94.0                    1/0/00   Personal Auto
2     48767.0                 108.0                    1/0/00   Personal Auto
3         0.0                 106.0                    1/0/00  Corporate Auto
4     36357.0                  68.0                    1/0/00   Personal Auto
...       ...                   ...                       ...             ...
7065      NaN                   NaN                       NaN             NaN
7066      NaN                   NaN                       NaN             NaN
7067      NaN                   NaN                       NaN             NaN
7068      NaN                   NaN                       NaN             NaN
7069      NaN                   NaN                       NaN             NaN

      Vehicle Class Total Claim Amount  ...       State  \
0     Four-Door Car           2.704934  ...  Washington
1     Four-Door Car        1131.464935  ...     Arizona
2      Two-Door Car         566.472247  ...      Nevada
3               SUV         529.881344  ...  California
4     Four-Door Car          17.269323  ...  California
...             ...                ...  ...         ...
7065            NaN                NaN  ...  California
7066            NaN                NaN  ...  California
7067            NaN                NaN  ...  California
7068            NaN                NaN  ...  California
7069            NaN                NaN  ...  California

     Customer Lifetime Value             Education Gender  Income  \
0                3479.137523  High School or Below      M       0
1                2502.637401                Master      M       0
2                3265.156348              Bachelor      F   25820
3                4455.843406  High School or Below      F       0
4                7704.958480  High School or Below      M   30366
...                      ...                   ...    ...     ...
7065            23405.987980              Bachelor      M   71941
7066             3096.511217               College      F   21604
7067             8163.890428              Bachelor      M       0
7068             7524.442436               College      M   21941
7069             2611.836866               College      M       0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
0                      104                         0   Personal Auto
1                       66                         0   Personal Auto
2                       82                         0   Personal Auto
3                      121                         0   Personal Auto
4                      101                         2   Personal Auto
...                    ...                       ...             ...
7065                    73                         0   Personal Auto
7066                    79                         0  Corporate Auto
7067                    85                         3  Corporate Auto
7068                    96                         0   Personal Auto
7069                    77                         0  Corporate Auto

     Total Claim Amount  Vehicle Class
0            499.200000   Two-Door Car
1              3.468912   Two-Door Car
2            393.600000  Four-Door Car
3            699.615192            SUV
4            484.800000            SUV
...                 ...            ...
7065         198.234764  Four-Door Car
7066         379.200000  Four-Door Car
7067         790.784983  Four-Door Car
7068         691.200000  Four-Door Car
7069         369.600000   Two-Door Car

[7070 rows x 31 columns]

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [3]:
# Import data
url_marketing = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_marketing = pd.read_csv(url_marketing)

In [36]:
df_marketing.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [4]:
# which sales channel brought the most sales in terms of total revenue
summary_table = pd.pivot_table(df_marketing, values='monthly_premium_auto', index='sales_channel', aggfunc='sum')
summary_table
summary_table['monthly_premium_auto'].round(2)

sales_channel
Agent          386335
Branch         280953
Call Center    197970
Web            151511
Name: monthly_premium_auto, dtype: int64

In [44]:
# Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.
summary_table = pd.pivot_table(df_marketing, values='customer_lifetime_value', index=['education', 'gender'], aggfunc='sum')
summary_table

                             customer_lifetime_value
education            gender
Bachelor             F                  1.338626e+07
                     M                  1.211006e+07
College              F                  1.246011e+07
                     M                  1.285173e+07
Doctor               F                  1.465702e+06
                     M                  1.490482e+06
High School or Below F                  1.379360e+07
                     M                  1.268091e+07
Master               F                  3.874600e+06
                     M                  3.365559e+06

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
summary_table