# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [28]:
# Import data
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
    
df_customer_data = pd.read_csv(url)

In [29]:
df_customer_data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [30]:
df_customer_data.head

<bound method NDFrame.head of        Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       Number of Open Complaints Number of Policies     Policy Type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       Vehicle Class Vehicle Size Vehicle Type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [31]:
#1 Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.
#Total Claim Amount
#Response='Yes'

customers_filtered = df_customer_data[(df_customer_data['Total Claim Amount'] > 1000) & (df_customer_data['Response'] == 'Yes')]


print(customers_filtered)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
189           189  OK31456  California             11009.130490      Yes
236           236  YJ16163      Oregon             11009.130490      Yes
419           419  GW43195      Oregon             25807.063000      Yes
442           442  IP94270     Arizona             13736.132500      Yes
587           587  FJ28407  California              5619.689084      Yes
...           ...      ...         ...                      ...      ...
10351       10351  FN44127      Oregon              3508.569533      Yes
10373       10373  XZ64172      Oregon             10963.957230      Yes
10487       10487  IX60941      Oregon              3508.569533      Yes
10565       10565  QO62792      Oregon              7840.165778      Yes
10708       10708  CK39096      Oregon              5619.689084      Yes

       Coverage             Education Effective To Date EmploymentStatus  \
189     Premium              Bachelor           1/24/11         Employed
236     Premium              Bachelor           1/24/11         Employed
419    Extended               College           2/13/11         Employed
442     Premium                Master           2/13/11         Disabled
587     Premium  High School or Below           1/26/11       Unemployed
...         ...                   ...               ...              ...
10351  Extended               College            1/5/11    Medical Leave
10373   Premium  High School or Below            2/8/11         Employed
10487  Extended               College            1/5/11    Medical Leave
10565  Extended               College           1/14/11         Employed
10708   Premium  High School or Below           1/26/11       Unemployed

      Gender  ...  Number of Open Complaints Number of Policies  \
189        F  ...                        0.0                  1
236        F  ...                        0.0                  1
419        F  ...                        1.0                  2
442        F  ...                        0.0                  8
587        M  ...                        0.0                  1
...      ...  ...                        ...                ...
10351      M  ...                        1.0                  1
10373      M  ...                        0.0                  1
10487      M  ...                        1.0                  1
10565      M  ...                        2.0                  1
10708      M  ...                        0.0                  1

          Policy Type        Policy  Renew Offer Type  Sales Channel  \
189    Corporate Auto  Corporate L3            Offer2          Agent
236      Special Auto    Special L3            Offer2          Agent
419     Personal Auto   Personal L2            Offer1         Branch
442     Personal Auto   Personal L2            Offer1            Web
587     Personal Auto   Personal L1            Offer2            Web
...               ...           ...               ...            ...
10351   Personal Auto   Personal L2            Offer2         Branch
10373  Corporate Auto  Corporate L2            Offer1          Agent
10487   Personal Auto   Personal L3            Offer2         Branch
10565   Personal Auto   Personal L3            Offer2          Agent
10708   Personal Auto   Personal L3            Offer2            Web

       Total Claim Amount  Vehicle Class Vehicle Size Vehicle Type
189           1358.400000     Luxury Car      Medsize          NaN
236           1358.400000     Luxury Car      Medsize            A
419           1027.200000     Luxury Car        Small            A
442           1261.319869            SUV      Medsize            A
587           1027.000029            SUV      Medsize            A
...                   ...            ...          ...          ...
10351         1176.278800  Four-Door Car        Small          NaN
10373         1324.800000     Luxury SUV      Medsize          NaN
10487         1176.278800  Four-Door Car        Small          NaN
10565         1008.000000            NaN          NaN          NaN
10708         1027.000029            SUV      Medsize            A

[67 rows x 26 columns]

In [32]:
#2 Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.
customer_filtered_yes = df_customer_data[(customer_data['Response'] == 'Yes')]
customer_filtered_yes.groupby(["Gender", "Policy"])["Total Claim Amount"].mean()

Gender  Policy
F       Corporate L1    463.942272
        Corporate L2    441.345018
        Corporate L3    421.231615
        Personal L1     485.125282
        Personal L2     439.905973
        Personal L3     447.076355
        Special L1      471.344049
        Special L2      396.625189
        Special L3      495.566135
M       Corporate L1    426.482338
        Corporate L2    427.988391
        Corporate L3    391.613774
        Personal L1     464.620881
        Personal L2     459.430442
        Personal L3     452.948421
        Special L1      476.390378
        Special L2      466.855864
        Special L3      404.747560
Name: Total Claim Amount, dtype: float64

In [33]:
#3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

df_customer_data_sorted = df_customer_data.groupby("State")
df_customer_data_sorted.filter(lambda x: len(x) > 500)

# state
#only include states where there are more than 500 customers.

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [ ]:
#Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [35]:
df_customer_data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].max()

Education             Gender
Bachelor              F         73225.95652
                      M         67907.27050
College               F         61850.18803
                      M         61134.68307
Doctor                F         44856.11397
                      M         32677.34284
High School or Below  F         55277.44589
                      M         83325.38119
Master                F         51016.06704
                      M         50568.25912
Name: Customer Lifetime Value, dtype: float64

In [36]:
df_customer_data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].min()

Education             Gender
Bachelor              F         1904.000852
                      M         1898.007675
College               F         1898.683686
                      M         1918.119700
Doctor                F         2395.570000
                      M         2267.604038
High School or Below  F         2144.921535
                      M         1940.981221
Master                F         2417.777032
                      M         2272.307310
Name: Customer Lifetime Value, dtype: float64

In [37]:
df_customer_data.groupby(['Education', 'Gender'])['Customer Lifetime Value'].mean()

Education             Gender
Bachelor              F         7874.269478
                      M         7703.601675
College               F         7748.823325
                      M         8052.459288
Doctor                F         7328.508916
                      M         7415.333638
High School or Below  F         8675.220201
                      M         8149.687783
Master                F         8157.053154
                      M         8168.832659
Name: Customer Lifetime Value, dtype: float64

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here