In [37]:
#Import File
import pandas as pd
file_path = r'C:\Users\flori\Downloads\marketing_customer_analysis_clean.csv'

df_marketing = pd.read_csv(file_path)

# 1. X Y Split

In [38]:
# 1.X-y split (y is the target variable, in this case, "total claim amount")
df_marketing.total_claim_amount.unique()

array([292.8     , 744.924331, 480.      , ..., 273.018929, 381.306996,
       618.288849])

In [39]:
# Drop Null Values
df_marketing.dropna()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [40]:
df_marketing = df_marketing.drop_duplicates()

In [41]:
df_marketing.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [42]:
#find numerical columns
numericals_df = df_marketing.select_dtypes(include ='number')
numericals_df.columns

Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount', 'month'],
      dtype='object')

In [43]:
# X-Y Split
X = df_marketing[['customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount', 'month']]
y = df_marketing ["total_claim_amount"]

# 2. Train-Test Split

In [44]:
# Train-test split
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

# 3. Standardize the data

In [52]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# fit and transform the training data
X_train_trans = scaler.fit_transform(X_train)

# transform the test data using the fitted scaler
X_test_trans = scaler.transform(X_test)

In [53]:
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled

array([[ 2.02486700e+00,  1.27161763e-03,  2.68700840e+00, ...,
        -4.06323757e-01,  1.57776194e+00,  1.07649387e+00],
       [ 3.19070839e-02, -1.38089603e-01,  3.34500676e-01, ...,
         1.20153621e-02,  2.36469751e-01, -9.28941658e-01],
       [-8.23516069e-01, -1.23536163e+00, -7.26996710e-01, ...,
        -8.24662876e-01,  3.66022022e-01,  1.07649387e+00],
       ...,
       [-2.66436666e-02, -1.23536163e+00, -6.98307591e-01, ...,
        -4.06323757e-01, -3.52390236e-01,  1.07649387e+00],
       [-4.37356974e-01, -1.23536163e+00, -6.69618473e-01, ...,
         1.20153621e-02, -3.36033014e-01,  1.07649387e+00],
       [ 4.28625882e+00, -1.23536163e+00,  6.21391861e-01, ...,
        -4.06323757e-01,  4.00041970e-01,  1.07649387e+00]])

In [54]:
scaler.transform(X_test)

array([[-0.32042345,  1.91715909, -0.61224024, ...,  0.01201536,
         0.13908924,  1.07649387],
       [-0.73676957, -0.1550158 , -0.58355112, ..., -0.82466288,
        -0.28696135, -0.92894166],
       [-0.83895955, -1.23536163, -0.75568583, ..., -0.82466288,
         0.16286225,  1.07649387],
       ...,
       [-0.68476072,  1.70189343, -0.35403817, ..., -0.82466288,
        -1.34069831, -0.92894166],
       [ 0.01000682, -1.23536163, -0.49748376, ..., -0.40632376,
        -0.23788968, -0.92894166],
       [-0.41220015,  0.92582399, -0.84175318, ...,  0.01201536,
        -1.17634656, -0.92894166]])

In [ ]:
# Y-Test does not get transformed

# 4. Apply linear regression

In [55]:
# Model Training
from sklearn.linear_model import LinearRegression

In [56]:
lm = LinearRegression()
model = lm.fit(X_train_scaled,y_train)

In [57]:
model.coef_
# Coefficients for all columns

array([ 2.00002620e-13,  1.98109258e-13,  1.15925129e-13, -2.91087090e-14,
       -4.61689766e-15, -2.80850148e-15, -2.54688344e-15,  2.93448364e+02,
        7.23696972e-15])

In [58]:
model.intercept_
# Intercept

434.6083383595698

# 5. Model Interpretation

In [59]:
#Model Interpretation
random_row = X_test.sample()

In [60]:
model.predict(random_row)

C:\Users\flori\anaconda4\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

array([37687.89901059])

In [61]:
y_pred = model.predict(X_test)  #gives an array
y_pred = pd.DataFrame(y_pred)  # transform array into DF

C:\Users\flori\anaconda4\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [62]:
y_test = y_test.reset_index(drop=True)

In [63]:
residuals_df = pd.concat([y_test, y_pred],axis=1)

In [64]:
residuals_df

      total_claim_amount              0
0             475.423848  139946.958844
1             350.400000  103258.915160
2             482.400000  141994.099237
3             673.342650  198025.907539
4             302.400000   89173.393678
...                  ...            ...
2723          460.266881  135499.171671
2724          405.883346  119540.412285
2725           41.182611   12519.578171
2726          364.800000  107484.571605
2727           89.411365   26672.227140

[2728 rows x 2 columns]

In [65]:
residuals_df = residuals_df.rename(columns={'total_claim_amount':'y_test',0:'y_pred'})

In [66]:
residuals_df["residual"] = residuals_df['y_test'] - residuals_df["y_pred"]

In [67]:
residuals_df.columns

Index(['y_test', 'y_pred', 'residual'], dtype='object')

In [68]:
residuals_df.head()

       y_test         y_pred       residual
0  475.423848  139946.958844 -139471.534996
1  350.400000  103258.915160 -102908.515160
2  482.400000  141994.099237 -141511.699237
3  673.342650  198025.907539 -197352.564889
4  302.400000   89173.393678  -88870.993678

In [69]:
mean_error = residuals_df['residual'].mean()
mean_error

-127862.57797661786

In [70]:
from sklearn.metrics import mean_squared_error as mse, mean_absolute_error as mae

In [71]:
mse(y_test,y_pred)

23456942029.213634

In [72]:
mae(y_test, y_pred)

127862.57797661786

In [73]:
import numpy as np
np.sqrt(mse(y_test,y_pred))

153156.59316272882